body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.banner {
    background-image: url(images/top.jpg);
    position: center;
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
    height: 100vh;

}

.top-section {
    text-align: center;
    font-weight: bold;
    color: rgb(255, 0, 153);
    padding: 200px;
}

.top-section h1 {
    font-size: 50px;
}

.top-section p {
    font-size: 20px;
    padding-top: 75px;
    color: aqua
}

.button-style {
    color: white;
    background-color: rgb(240, 76, 16);
    padding: 15px;
    border-radius: 5px;
    border-color: rgb(240, 76, 16);

}

.donate-today {
    text-align: center;
    padding-top: 50px;

}

.amount {
    display: flex;
    justify-content: center;
}

.amount li {
    list-style: none;
    background-color: antiquewhite;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid gray;
    border-style: none;
    text-align: justify;
    font-weight: 600;
}

#different-color {
    color: orangered;
    border: 2px solid orangered;
    background-color: pink;
}

.other-amount input {
    font-weight: 100;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
    padding-right: 150px;
    border-style: none;
    border-bottom: 2px solid gray;
}

.donate-plan {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.donation-type {
    margin-top: 50px;
    display: flex;
    margin-bottom: 10px;

}

#food {
    border: 2px;
    border-style: none;
    background-color: rgba(127, 255, 212, 0.337);
    border-radius: 5px;
    padding: 10px;
    margin-left: 200px;
}

#shelter {
    border: 2px;
    border-style: none;
    background-color: rgba(255, 228, 196, 0.666);
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
}

#education {
    border: 2px;
    border-style: none;
    background-color: rgba(0, 255, 255, 0.7);
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 250px;
}

.depend-on-donation {
    display: flex;
    margin-left: 120px;
    margin-right: 240px;
    margin-top: 110px;
}

.description-donation {
    border: 2px solid black;
    margin-left: 50px;
    margin-right: 20px;
    border-style: none;
    text-align: justify;
}

.depend-on-donation img {
    height: 370px;
}

.event h2 {
    margin-top: 70px;
    margin-left: 115px;
    color: cadetblue;
    text-decoration: underline;
    text-decoration-color: coral;
}

.our-events {
    display: flex;
    margin-left: 120px;
    margin-right: 240px;
    margin-top: 50px;
}

.event-image-size {
    width: 300px;
    margin-right: 50px;
}

.past-donation-info {
    border: 2px;
    margin-right: 350px;
    text-align: justify;
}

.news {
    color: rgb(237, 172, 88);
    text-decoration: none;
}

.bottom-container {
    text-align: center;
    margin: 80px;
}

.subscribe {
    border: 2px;
    border-radius: 5px;
    background-color: bisque;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.subscribe input {
    margin-right: -6px;
    padding: 15px;
    padding-left: 150px;
}

footer {
    text-align: center;
    color: white;
    font-style: oblique;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 50px;
}